[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
audioplayer = "*"
google-cloud-texttospeech = "*"
pycairo = "*"
pygobject = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3"
